<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsLocalNetworking</key>
			<true/>
		</dict>
		<key>HOT_UPDATER_FINGERPRINT_HASH</key>
		<string>5473a1903c46c2f1115f0ebea10f6e948365eb2662bbeebdbb6e38b93549a093</string>
	</dict>
</plist>