<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsLocalNetworking</key>
			<true/>
		</dict>
		<key>HOT_UPDATER_FINGERPRINT_HASH</key>
		<string>dadc86336905cccbdae63a3c9bb3eead45f8109ca44792eda3620999b87819c8</string>
	</dict>
</plist>