<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsLocalNetworking</key>
			<true/>
		</dict>
		<key>HOT_UPDATER_FINGERPRINT_HASH</key>
		<string>02c781a6a9e09815ac9ac4648dbf6b2514d20f52eb24af860af0c8162f45446b</string>
	</dict>
</plist>