rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if request.auth.token.firebase.sign_in_provider == 'google.com'
                          && request.auth.token.firebase.sign_in_attributes.email.matches('.*@system.gserviceaccount.com');
    }
  }
}