<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>en</string>
		<key>CFBundleDisplayName</key>
		<string>HotUpdaterExample</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>$(PRODUCT_NAME)</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(MARKETING_VERSION)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(CURRENT_PROJECT_VERSION)</string>
		<key>HOT_UPDATER_FINGERPRINT_HASH</key>
		<string>375ccd5f2d85d8cb55d7ccf3991032cca7e3c51d</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<false/>
			<key>NSAllowsLocalNetworking</key>
			<true/>
		</dict>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string/>
		<key>RCTNewArchEnabled</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIRequiredDeviceCapabilities</key>
		<array>
			<string>arm64</string>
		</array>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
		<key>HOT_UPDATER_CHANNEL</key>
		<string>production</string>
		<key>HOT_UPDATER_PUBLIC_KEY</key>
		<string>-----BEGIN PUBLIC KEY-----
MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEApS/1+ebv1b7OJdEnBEqB
t8xIMC+Zr6Jvz1AS6jvAsvWDe/ayvOHaWW50GF4OIoT3dKKxpMprikOGMen1IqQ8
AydYLxjwpAAPRP07993sROLZfYLkrabT0/tmbMhh1Y2oFx2ITUtFb+YjIgN+MFnH
CBCqEh36h+JB9YwXP5DH/z5sUqFFAoZoVRflMsuYfXYe3Ou/JdTVCiE/28rJAP0g
GWVwiUtcms/A35ixdARDlk9UsRT+Cd8fJtvDK9p4CV9RMplDHMXHXfTAiSOMWOld
g/4qQKPhiquVbs9o0nQm0+t6RteqzNwXn3+mRIL1MTB7w0SMk2331Z2YNDzZ/iBt
x2HJYniDM/cG214Sxe3AJAWz5WTllqg4/ZLEPCjSeTjrZwosbmnc/X0JONq1Sgti
O6RzeobXh+HYD+6kuZ+2TlI7QzhlB9Ph+eTO6GxGNnEIYjjV9JMFA9uP9q8C8NpP
DBZKiCzKDg98e9PyF4IMpfkYZvf+8aN1Hr0jj/ozLMlSAkas4J4lxAJkm6CyvArA
cdq52YqbRh3X9eaesdsLxirP2m1XE+aCTy9S/eN1dwl51X2/Pg+WOylqJd2yO5cS
nLmOizFHo6lOFY9latsKjrAAhXvqKBBOK3mAQFfmdQA0isKLFOGrJAi837zRSyeB
DukYhrrN5fF+czicYCNqJi0CAwEAAQ==
-----END PUBLIC KEY-----</string>
		<key>HOT_UPDATER_MIN_BUNDLE_ID</key>
		<string>$(HOT_UPDATER_MIN_BUNDLE_ID)</string>
	</dict>
</plist>