<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>en</string>
		<key>CFBundleDisplayName</key>
		<string>HotUpdaterExample</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>$(PRODUCT_NAME)</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(MARKETING_VERSION)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(CURRENT_PROJECT_VERSION)</string>
		<key>HOT_UPDATER_FINGERPRINT_HASH</key>
		<string>375ccd5f2d85d8cb55d7ccf3991032cca7e3c51d</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<false/>
			<key>NSAllowsLocalNetworking</key>
			<true/>
		</dict>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string/>
		<key>RCTNewArchEnabled</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIRequiredDeviceCapabilities</key>
		<array>
			<string>arm64</string>
		</array>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
		<key>HOT_UPDATER_CHANNEL</key>
		<string>production</string>
		<key>HOT_UPDATER_PUBLIC_KEY</key>
		<string>-----BEGIN PUBLIC KEY-----
MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAslwM1w3kRCQtwKylUQ53
juqSp3Pp+5j5GiIvtMSpWfRjr2NdIVOxr+QgQ0OiWCPR44PiHphSkgxvFSfwjy5K
FIXiLmp+LQ5jBgiAePpEdRcMDOadIeMujWztDy+Gp7Jjam7GJJWyXER+PjpWNSHs
x+GelYLVNF/G5E9KhQEY6tAdsGXMMuwuuKfWqGzqr4PCyxqAmEw+dMz1JtMxfoCz
Tcq6eM4YOshT4W25vy5uvPTXHcPYZfDQYR5xMctg1w/9hmUXvR6PxpApFQ/JoR5U
h1yiWYzHdSigW4mvw6ZVNjovoG0w+UWXTq2Q6wx/TWZV/ji+acyy2qN9tcV1XerN
t51FfsdaVVthbK+Rn3zzidxHuZvvuF+wLwavj6XkuKtzn55y3NSKTMfDMYKmJ623
XirAGACQvl6MjyHRTRyBy9cF6NEJQ6IV05WGuM3wDl/FhwqXF3sdo9ETHUhbUZCH
9mp0aGry3MZ2yuq/hG59bAfJypCZkupPAo6edre+8BY+lCs9ZbOZouYrL4yxJWh+
K+ojX4ZXnl92ARmhRmVU8ZJi3xc1wyeOezXwpj0QNAs9uAHghKa85Q3+r6RrGZZq
x3jkMDMF+5rD6k4jc9kRUmveB4y+53x1bUGOzeVVdalW3lEpKkuLdJwo3wlPSHdQ
vckGnYTcBY/IPnznL+JRcAsCAwEAAQ==
-----END PUBLIC KEY-----</string>
		<key>HOT_UPDATER_MIN_BUNDLE_ID</key>
		<string>$(HOT_UPDATER_MIN_BUNDLE_ID)</string>
	</dict>
</plist>
