<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>en</string>
		<key>CFBundleDisplayName</key>
		<string>HotUpdaterExample</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>$(PRODUCT_NAME)</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(MARKETING_VERSION)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(CURRENT_PROJECT_VERSION)</string>
		<key>HOT_UPDATER_FINGERPRINT_HASH</key>
		<string>5033c0e576005fd864b8c90b70a63a4a8c36354a</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<false/>
			<key>NSAllowsLocalNetworking</key>
			<true/>
		</dict>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string/>
		<key>RCTNewArchEnabled</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIRequiredDeviceCapabilities</key>
		<array>
			<string>arm64</string>
		</array>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
		<key>HOT_UPDATER_CHANNEL</key>
		<string>production</string>
		<key>HOT_UPDATER_PUBLIC_KEY</key>
		<string>-----BEGIN PUBLIC KEY-----
MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAtX2E2bQJnYw7FP5sS48s
i2I00Z4xVGBcVh6zKwlOfUB6A9ZgfKfavnxm/i2q84nYd3lv+fam0QzU6hHiKb2K
r5LN/+H7QNErkKN/uEqgOgz5bD0aGGm75Ppp8OSq4Uw4TElAxas+3KXOxgeZhlFa
ZGRlbFsiOVxw8sLaeyrONWyNUAUONrlnAFgpJk/7+UzEvlEHi/wr38QoKkbORjAw
tgA3q3vjidhy0M0nXNqKr9vYIfNTskptqR69PJZaXA/rSL8Trjnz/NdDzWE4Dd6g
oReJ0qn3rxKfSOxPxBuYveOl54vHKw3wvb1J48aGZd2CjBOQEjWzCuIgyL/Poge8
Ui9GbBEX3+3aAVt8KUoCne+fWGDMKTi660UoM21xLdY1ZFmZqK/7u5feLHKRsbD6
phL4sRzcTjmsyhXcy0qiPO/kuyzhGEXOJWum90ehaDGp6i1AR+nPSjbCGvtibChd
036mAsLOiTWsaBiBqJD8vSv+EqpCjGgo9YjSSZD0DfdXcaWu3R33omywb7ZcXrTV
dWEyuD7khcbLi92nsgYBbe/338uUtuQNTgb0FaMJvuoR3j41pmn2pwTgRYtTCTQn
XUEukyuAGDU3HGRiGYHEhsEILoUzZpXy2Zs/eQRtZE0o644tb1Cn4D+/a7Pv6Yso
zxKCEs5mNh/ligdmTntzMecCAwEAAQ==
-----END PUBLIC KEY-----</string>
	</dict>
</plist>