<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:name=".MatrixApplication" android:theme="@style/AppTheme" android:label="Hot Updater Lynx Matrix" android:allowBackup="false" android:usesCleartextTraffic="true">
        <activity android:name=".MatrixActivity" android:configChanges="colorMode|density|fontScale|fontWeightAdjustment|grammaticalGender|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode" android:screenOrientation="portrait" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data android:name="com.hotupdater.FINGERPRINT_HASH" android:value="7656a769af5f87ff199c7300ddac017b4c45422496e8f364ecf199ef42d01984"/>
    </application>
</manifest>
