<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>HOT_UPDATER_APP_BASE_URL</key>
		<string>$(HOT_UPDATER_APP_BASE_URL)</string>
		<key>HOT_UPDATER_FINGERPRINT_HASH</key>
		<string>232a8ff1764851d5a50e10fe7fc8b8d2a6510a3037f3eaf615631293ed1aeefa</string>
	</dict>
</plist>