<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>HOT_UPDATER_APP_BASE_URL</key>
		<string>$(HOT_UPDATER_APP_BASE_URL)</string>
		<key>HOT_UPDATER_FINGERPRINT_HASH</key>
		<string>07448fc3426c088c85224cea2235b7006ba479c823bd6f776eb7673cfa67372a</string>
	</dict>
</plist>