<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>expo-52</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.expo-52</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>exp+expo-52</string>
        </array>
      </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>HOT_UPDATER_CHANNEL</key>
    <string>production</string>
    <key>HOT_UPDATER_FINGERPRINT_HASH</key>
    <string>9c80f0e6acbe7c2723fbf597ffce2594aab5ab79</string>
    <key>HOT_UPDATER_PUBLIC_KEY</key>
    <string>-----BEGIN PUBLIC KEY-----
MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAo3D5wVYe+8kvDuwYdTDf
KeLk5UDntWyojSK39tFDGX2Fqj2Pv16o5UdsU2AfxJyAwxM7Y0ZYK3H/TULsuNQ2
hGonOUdwOsTL9BbyhTQdAsXaHcemYFz88VcD8aHuqjDeiD6WymrqzVfKuiIWsQHr
3uiSKKOvCi8Ww7n1u5KCo6jQyDp/t1pvJ457SeYGtYHXv8ZAUlfWddTlvOuj1ij2
eGzntcKvMgAb3nvSZtNEPkZrL/k1s73D0yL8H+GMAZNiqiPJNfwGCZ6vKyERhl6j
baL+0YIN0hEqn+PZpSNS4cVMt8wxWuyali5LKgfNfnlBkZifbckobtO/SPKTxuMQ
BFDGB7+W6QoAe1vBnk3RpuEZlh8JEQSIrR5dFuPSIRIOxVdfIIcXTzZY1U+OBKtj
ipNsCdq4X2Z1QqqrV7R6OqL6VOW9PF0wFB28AHFR8nkdNkfHmJMRV3Icdb1PysXz
nFPYLnpmTQUZsaLpStOlj7Clh8fPpR85bNuOoiAX2yc+LvwayhiUeLkQ4XnBZkxz
2t+bmbRMlJtOH4g0p27JF+XfH+LzHKT7yF38Is1c52IrKU+NQ8/8fjwgYcvcHzLh
20DJIux/Hwm0cKo8yOztlOwk20LxsfIfRPsJURcsrsyyrn0GhiVyHp9vThglnH9y
DYmCC/ciE5c5rhWZg+HKmBMCAwEAAQ==
-----END PUBLIC KEY-----</string>
    <key>LSMinimumSystemVersion</key>
    <string>12.0</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <false/>
      <key>NSAllowsLocalNetworking</key>
      <true/>
    </dict>
    <key>UILaunchStoryboardName</key>
    <string>SplashScreen</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <false/>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDefault</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIUserInterfaceStyle</key>
    <string>Light</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
  </dict>
</plist>