on:
  push:
    branches:
      - main
  pull_request:

name: Integration

jobs:
  integration:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup pnpm
        uses: pnpm/action-setup@v2
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: .node-version
          cache: "pnpm"
      - run: pnpm install
      - name: Build
        run: pnpm build

      - name: TypeScript type check
        run: pnpm test:type

      - name: Biome check
        run: pnpm biome:check
      - name: Unit test
        run: pnpm test

      - name: Setup Swift
        uses: swiftlang/setup-swift@v2
        with:
          swift-version: "5.9"

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Native unit tests
        run: |
          cd examples/unit-native
          ./run-tests.sh
